body {
    padding-top: 200px;
   /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

footer {
    padding-top: 100px;
    margin: 50px 0;
}
input {
    color:white;
}
input:hover{
    background-color:grey;
    color:white;
}
.btn1 {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    height:34px;
    width:35px;
}

.btn1:hover {
    background-color:grey;
    color: white;
}
